.className{
    
    property1: 5;
    property2: "16px";
    property3: "hidden";
}

.window{

    border: 4mm ridge;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: absolute;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.125);
}

.windowheader {

  width: 100%;
  display: flex;
  align-items: center;
  cursor: grab;
  justify-content: space-between;
  margin-top: 10px;
}

.headertext {
    
  margin: 0px;
  color:#6f0000;
  font-weight: 500
}